@model G20240408.EntidadesDeNegocio.PersonaG

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Personas</h1>

<h3>Eliminar?</h3>
<div>
    <h4>PersonaG</h4>
    <hr />
    <dl class="row">
       
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimientoG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimientoG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SueldoG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SueldoG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstatusG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstatusG)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
