@model IEnumerable<G20240408.EntidadesDeNegocio.PersonaG>

@{
    ViewData["Title"] = "Index";
}

<h1>Personas</h1>
<form asp-action="Index">
    <div class="row">
        <div class="form-group col-3">
            <label class="control-label">Nombre</label>
            <input type="text" name="nombreg" class="form-control" />
        </div>
        <div class="form-group col-3">
            <label class="control-label">Apellido</label>
            <input type="text" name="apellidog" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-12">
            <br />
            <input type="submit" value="Buscar" class="btn btn-primary" />
            <a asp-action="Create" class="btn btn-primary">Ingresar Nueva Persona</a>
        </div>
    </div>
</form>
<p>
   
</p>
<table class="table">
    <thead>
        <tr>
          
            <th>
                @Html.DisplayNameFor(model => model.NombreG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimientoG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SueldoG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstatusG)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.NombreG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimientoG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SueldoG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstatusG)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new {  id=item.Id }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
